<a href="https://colab.research.google.com/github/Taukirkhan08/python-assignment/blob/main/introduction_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are the types of Applications?

ans. There are many types of applications, including:

Web applications: These run in a web browser.
Mobile applications: These are designed for smartphones and tablets.
Desktop applications: These run on a desktop operating system.
Command-line applications: These are text-based applications used in a terminal.
Backend applications: These run on servers and provide functionality for other applications.

2. What is programing?

ans. Programming is the process of creating instructions for a computer to follow. These instructions are written in a programming language, such as Python.

3. What is Python?

ans. Python is an interpreted, object-oriented, high-level programming
language with dynamic semantics.

4. Write a Python program to check if a number is positive, negative or
zero.

In [ ]:

num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: -5
Negative number

5. Write a Python program to get the Factorial number of given numbers.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 8
40320

6. Write a Python program to get the Fibonacci series of given range.

7. How memory is managed in Python?

ans. Memory management in Python is handled automatically through a combination of a built-in garbage collector and a memory allocation system.

8. What is the purpose continuing statement in python?

ans. In Python, the continue statement is used to skip the rest of the current iteration in a loop (for or while) and proceed to the next iteration.

9. Write python program that swap two number with temp variable
and without temp variable.

In [ ]:
x = 5
y = 10
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

10. Write a Python program to find whether a given number is even
or odd, print out an appropriate message to the user.

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 21
21 is Odd

11. Write a Python program to test whether a passed letter is a vowel
or not.

In [ ]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
print(is_vowel('c'))
print(is_vowel('e'))

False
True

12. Write a Python program to sum of three given integers. However, if
two values are equal sum will be zero.

In [ ]:

a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=int(input("Enter a number:"))
if a==b or b==c or c==a:
    sum=0
else:
    sum=a+b+c
print(sum)

Enter a number:12
Enter a number:55
Enter a number:32
99

13. Write a Python program that will return true if the two given
integer values are equal or their sum or difference is 5.

In [ ]:

a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
if a==b or a+b==5 or a-b==5:
    print("True")
else:
    print("False")

Enter a number:5
Enter a number:5
True

14. Write a python program to sum of the first n positive integers.

In [ ]:

n = int(input("Input a number: "))
sum_num = (n * (n+1)) / 2
print("Sum of the first", n ,"positive integers:", sum_num)

Input a number: 5
Sum of the first 5 positive integers: 15.0

15.Write a Python program to calculate the length of a string.

In [ ]:
string=input("Enter a string: ")
print(len(string))

Enter a string: my name is khan
15

16.Write a Python program to count the number of characters
(character frequency) in a string

In [ ]:

from typing_extensions import Counter
string=input("Enter a string: ")
result=Counter(string)
print(result)

Enter a string: my name is khan
Counter({' ': 3, 'm': 2, 'n': 2, 'a': 2, 'y': 1, 'e': 1, 'i': 1, 's': 1, 'k': 1, 'h': 1})

17.What are negative indexes and why are they used?

ans.Negative indexes in Python allow you to access elements in a sequence (like a list or a string) starting from the end.

18.Write a Python program to count occurrences of a substring in a string.

In [ ]:

string = "This is a test string."
substring = "This"

count = string.count(substring)
print("The count is:", count)

The count is: 1

20. Write a Python program to get a single string from two given strings,
separated by a space and swap the first two characters of each string.

In [ ]:
def swap_strings(str1, str2):
  new_str1 = str2[:2] + str1[2:]
  new_str2 = str1[:2] + str2[2:]
  return new_str1 + " " + new_str2

string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
result = swap_strings(string1, string2)
print(result)

Enter the first string: tokirkhan
Enter the second string: malek
makirkhan tolek

21.  Write a Python program to add 'in' at the end of a given string (length
should be at least 3). If the given string already ends with 'ing' then
add 'ly' instead if the string length of the given string is less than 3,
leave it unchanged.

In [ ]:

string = input("Enter a string: ")
if len(string) >= 3:
    if string.endswith("ing"):
        string += "ly"
    else:
        string += "ing"
print(string)

Enter a string: i am workking
i am workkingly

22.Write a Python function to reverses a string if its length is a multiple of 4.

In [ ]:

string = input("Enter a string: ")
if len(string) % 4 == 0:
    print(string[::-1])
else:
    print(string)

Enter a string: 123456
123456

23.Write a Python program to get a string made of the first 2 and the last
2 chars from a given a string. If the string length is less than 2, return
instead of the empty string.

In [ ]:

string = input("Enter a string: ")
if len(string) < 2:
    print(string)
else:
    new_string = string[:2] + string[-2:]
    print(new_string)

Enter a string: i am ghost
i st

24.Write a Python function to insert a string in the middle of a string.

In [ ]:

string = input("Enter a string: ")
middle_index = len(string) // 2
new_string = string[:middle_index] + "Python" + string[middle_index:]
print(new_string)

Enter a string: you are so smart
you are Pythonso smart

25.What is List? How will you reverse a list?

ans.A list in Python is a versatile data structure used to store an ordered collection of items. These items can be of different data types, such as integers, floats, strings, or even other lists. Lists are mutable, meaning you can change their contents after they are created.

26.How will you remove last object from a list?

ans.To remove the last object from a list in Python, you can use the pop() method or the del statement.

27.Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-
1]?

In [ ]:

list1 = [2, 33, 222, 14, 25]
print(list1[-1])

25

28.Differentiate between append () and extend () methods?

ans.append() adds a single element to the end of a list.
extend() adds multiple elements from an iterable (like another list) to the end of a list.

29.Write a Python function to get the largest number, smallest num
and sum of all from a list.

In [ ]:
#Write a Python function to get the largest number, smallest num and sum of all from a list.

num_list = [1, 2, 3, 4, 5]
largest = max(num_list)
smallest = min(num_list)
total = sum(num_list)
print("Largest number:", largest)
print("Smallest number:", smallest)
print("Sum of all numbers:", total)

Largest number: 5
Smallest number: 1
Sum of all numbers: 15

30.How will you compare two lists?

ans.You can compare two lists in Python using the == operator. It checks if both lists have the same elements in the same order.

31. Write a Python program to count the number of strings where the string
length is 2 or more and the first and last character are same from a given list of strings.

In [ ]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

32. Write a Python program to remove duplicates from a list

In [ ]:
list=[1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
newlist=(set(list))
print(newlist)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

33.Write a Python program to check a list is empty or not.

In [ ]:

my_list = []
if not my_list:
    print("The list is empty")
else:
    print("The list is not empty")

The list is empty

34. Write a Python function that takes two lists and returns true if they have at least one common member.

In [ ]:

def common_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
result = common_member(list1, list2)
print(result)

True

35.Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.

In [ ]:

def get_squared_list(start,end):
  squares = [i**2 for i in range(start,end,+1)]
  return squares[:5] + squares[-5:]

result = get_squared_list(1,31)
print(result)

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

36. Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [ ]:

def unique_list(lst):
  unique = []
  for item in lst:
    if item not in unique:
      unique.append(item)
  return unique

result = unique_list([1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9])
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

37. Write a Python program to convert a list of characters into a string.

In [ ]:


char_list = ['a', 'b', 'c', 'd', 'e']
string = ''.join(char_list)
print(string)

abcde

38. Write a Python program to select an item randomly from a list.

In [ ]:


import random

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
random_item = random.choice(my_list)
print(random_item)

date

39. Write a Python program to find the second smallest number in a list.

In [ ]:


my_list = [5, 2, 8, 1, 9, 3]
my_list.sort()
second_smallest = my_list[1]
print(second_smallest)

2

40. Write a Python program to get unique values from a list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
unique_value=(set(list1))
print(unique_value)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

41. Write a Python program to check whether a list contains a sub list.

42. Write a Python program to split a list into different variables

In [ ]:

colour=['red','green','blue','yellow']
var1,var2,var3,var4=colour
print(var1)
print(var2)
print(var3)
print(var4)

red
green
blue
yellow

43.What is tuple? Difference between list and tuple.

ans.A tuple is a finite, ordered list of elements that can be used in many fields, including mathematics, computer programming, and databases.The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable.

44. Write a Python program to create a tuple with different data types.

In [ ]:

tuple=(1, "Welcome",3.14,True)
print(tuple)

(1, 'Welcome', 3.14, True)

45.Write a Python program to unzip a list of tuples into individual lists.

In [ ]:

list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
unzipped_lists = list(zip(*list_of_tuples))
print(unzipped_lists)

46. Write a Python program to convert a list of tuples into a dictionary.

In [ ]:

list_of_tuples = [('a', 1), ('b', 2), ('c', 3)]
my_dict = dict(list_of_tuples)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

47. How will you create a dictionary using tuples in python?


ans.You can use a dictionary assignment statement to assign a value to a key that's a tuple. For example, you can write directory[last, first] = number

48. Write a Python script to sort (ascending and descending) a diction

In [ ]:


dict={'a':1,'b':2,'c':3,'d':4,'e':5}
sorted(dict.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [ ]:
dict={'a':1,'b':2,'c':3,'d':4,'e':5}
sorted(dict.items(),reverse=True)

[('e', 5), ('d', 4), ('c', 3), ('b', 2), ('a', 1)]

49. Write a Python script to concatenate following dictionaries to create a new one.

In [ ]:

 dict1={1:10,2:20}
 dict2={3:30,4:40}
 dict3={5:50,6:60}
 dict4={}
 for d in (dict1,dict2,dict3):
    dict4.update(d)
 print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

50. Write a Python script to check if a given key already exists in a dictionary.

In [ ]:

dict={'a':1,'b':2,'c':3,'d':4,'e':5}
key=input("Enter key to check:")
if key in dict:
    print("Key is present and value of the key is:")
    print(dict[key])
else:
    print("Key is not present!")

Enter key to check:c
Key is present and value of the key is:
3

51. How Do You Traverse Through a Dictionary Object in Python?

ans. You can traverse through a dictionary object in Python using a for loop. Here is how

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

for key in my_dict:
  print(key, my_dict[key])

apple 1
banana 2
cherry 3

52. How Do You Check the Presence of a Key in A Dictionary?

ans.To check if a key exists in a Python dictionary, use the get() method.

53. Write a Python script to print a dictionary where the keys are numbers between 1 and 15.

In [ ]:

my_dict = {}
for i in range(1, 16):
    my_dict[i] = i**2
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

54. Write a Python program to check multiple keys exists in a dictionary.

In [ ]:

dict={'a':1,'b':2,'c':3,'d':4,'e':5}
key1=input("Enter key1 to check:")
key2=input("Enter key2 to check:")
if key1 in dict and key2 in dict:
    print("Keys are present and their values are:")
    print(dict[key1])
    print(dict[key2])
else:
    print("Keys are not present!")

Enter key1 to check:a
Enter key2 to check:b
Keys are present and their values are:
1
2

55. Write a Python script to merge two Python dictionaries.

In [ ]:

dict1={'a':1,'b':2,'c':3,'d':4,'e':5}
dict2={'f':6,'g':7,'h':8,'i':9,'j':10}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10}

56. Write a Python program to map two lists into a dictionary Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).

In [ ]:

from collections import Counter
keys = ['a', 'b', 'c', 'd']
values = [400, 400, 300, 400]
result = Counter(zip(keys, values))
print(result)

Counter({('a', 400): 1, ('b', 400): 1, ('c', 300): 1, ('d', 400): 1})

57. Write a Python program to find the highest 3 values in a dictionary.

In [ ]:

dict={'a':10,'b':20,'c':80,'d':90,'e':21}
sorted(dict.values(),reverse=True)[:3]
print(sorted(dict.values(),reverse=True)[:3])

[90, 80, 21]

58. Write a Python program to combine values in python list of dictionaries. Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, o {'item': 'item1', 'amount': 750}] Expected Output: • Counter ({'item1': 1150, 'item2': 300})

In [ ]:

from collections import Counter

data = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
result = Counter()
for item in data:
    result[item['item']] += item['amount']
print(result)

Counter({'item1': 1150, 'item2': 300})

59. Write a Python program to create a dictionary from a string. Note: Track the count of the letters from the string.

In [ ]:

from collections import Counter

string = 'hello world'
result = Counter(string)
print(result)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

60. Sample string: 'w3resource' Expected output: • {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [ ]:

from collections import Counter

string = 'w3resource'
result = Counter(string)
print(result)

Counter({'r': 2, 'e': 2, 'w': 1, '3': 1, 's': 1, 'o': 1, 'u': 1, 'c': 1})

61. Write a Python function to calculate the factorial of a number (a nonnegative integer)

In [ ]:
num = int(input("Enter a number: "))
fact = 1
i = 1
while i <= num:
    fact = fact * i
    i = i + 1
print("Factorial of", num, "is", fact)

Enter a number: 6
Factorial of 6 is 720

62. Write a Python function to check whether a number is in a given range.

In [ ]:
def is_in_range(num, start, end):
    if start <= num <= end:
        return True
    else:
        return False

print(is_in_range(5, 1, 10))
print(is_in_range(15, 1, 10))

True
False

63. Write a Python function to check whether a number is perfect or not.

In [ ]:
def perfect_number(num):
  if num <= 1:
    return False
  sum = 1
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      if i == num // i:
        sum += i
      else:
        sum += i + num // i
  return sum

number = int(input("Enter a number: "))
if perfect_number(number):
  print(f"{number} is a perfect number.")
else:
  print(f"{number} is not a perfect number.")

Enter a number: 12
12 is a perfect number.

64. Write a Python function that checks whether a passed string is palindrome or not.

In [ ]:
def is_palindrome(string):
  if string == string[::-1]:
    return True
  else:
    return False

print(is_palindrome("madam"))
print(is_palindrome("12321"))

True
True

65. How Many Basic Types of Functions Are Available in Python?

ans.There are two basic types of functions in Python:

Built-in functions: These are pre-defined functions that are part of the Python language.

User-defined functions: These are functions that you create yourself.

66. How can you pick a random item from a list or tuple?

ans.You can pick a random item from a list or tuple in Python using the random.choice() function from the random module. Here's how you can do it:

In [ ]:
# Example with a List:

import random

my_list = [1, 2, 3, 4, 5]
random_item = random.choice(my_list)
print(random_item)

5

In [ ]:
# Example with a Tuple:

import random

my_tuple = (10, 20, 30, 40, 50)
random_item = random.choice(my_tuple)
print(random_item)

10

67. How can you pick a random item from a range?

ans.You can pick a random item from a range using the random.randrange() function.

In [ ]:
import random

random_number = random.choice(range(1, 11))
print(random_number)

9

68. How can you get a random number in python?

ans.You can get a random number in Python using the random.random() function.

In [ ]:
import random

random_number = random.random()
print(random_number)

0.9667043459515422

69. How will you set the starting value in generating random numbers?

ans.You can set the starting value in generating random numbers using the random.seed() function.

In [ ]:
import random

random.seed(77)
random_number = random.random()
print(random_number)

0.799115369116727

70. How will you randomize the items of a list in place?

ans.To randomize or shuffle the items of a list in place in Python, you can use the random.shuffle() function from the random module.

In [ ]:
import random

mylist = [11, 22, 33, 44, 55]
random.shuffle(mylist)
print(mylist)

[44, 55, 11, 22, 33]